body

input[type=text], input[type=text],input[type=text], input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #7FB3D5;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150px;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 12px 20px;
    background-color: #f44336;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EAEDED;
    color: black;
    text-align: center;
}
